<!-- <small>Add/Change Avatar</small>
	<form action="/" method="POST" enctype="multipart/form-data">
		<input type="file" name="myFile">
		<input type="submit">
	</form><br><br> -->



<div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2 center-align">
        <div class="card black darken-1 center-align">
          <div class="card-content white-text center-align">
            <img src="<%= url %>">
            <span class="card-title"><h1>Hello, <%= name %></h1></span>
              <h6>How are you feeling today?</h6>

				    <div class="row">
              <a href="/music/mood/happy"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/Emoji-Smiley-01.png" alt="happy" height= "25px"></a>&nbsp;
				      <a href="/music/mood/love"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/Emoji-Smiley-07.png" height="25px" alt="In love"></a>&nbsp;
				      <a href="/music/mood/relaxed"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/Emoji-Smiley-18.png" height="25px" alt="Relaxed"></a>&nbsp;
				      <a href="/music/mood/sad"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/Emoji-Smiley-20.png" height="25px" alt="Sad"></a>&nbsp;
				      <a href="/music/mood/angry"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/Emoji-Smiley-35.png" height="25px" alt="Angry"></a>&nbsp;
				      <a href="/music/mood/chill"><img src="http://photo-blog.hayleenighbertphotography.com/wp-content/uploads/2015/11/Emoji-Smiley-41.png" height="25px" alt="Chill"></a>




            </div>

Change avatar

<form method="POST" action="/" enctype="multipart/form-data">
  <input type="file" name="myFile">
  <input type="submit">
</form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header black"><i class="material-icons">album</i>Saved Artists</div>
      <div class="collapsible-body black">
<button type="button" class="waves-effect waves-light btn black"><i class="material-icons left">album</i><a href="/music">Add Artists</a></button>
<% favorites.forEach(function(item) { %>
<div class="row">
	<div class="col s12 m5">
		<div class="card-panel grey">
			<span class="white-text"><h7><%= item.artist %></h7>
			</span>
		</div>
	</div>
</div>
<% }); %></p></div>
    </li>
    <li>
      <div class="collapsible-header black"><i class="material-icons">album</i>Pitchfork Top Albums</div>
      <div class="collapsible-body black">

      <% urls.forEach(function(url, index){%><a href="http://pitchfork.com<%= url %>"><%= info[index] %></a><br>

<% }) %>
</span>
  </div>
    </div>
    </li>
  </ul>

